/*! icora.css | git.io/icora */


/* ==========================================================================
   Base Rules
   ========================================================================== */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  padding: 0 20px;
}

body {
  background: #FFF;
  color: #444;
  font: 1em/1.375 "Open Sans", Arial, sans-serif;
  margin: 20px auto;
}

h1, h2, h3, h4, strong, b {
  font-weight: 600;
}

/* Grayscale all images until hover (http://jsfiddle.net/KDtAX/487/). */

img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */

  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */

  backface-visibility: hidden; /* Fix for transition flickering */
  filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  transition: all .3s ease; /* Fade to color for Chrome and Safari */
}

img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}


@media only screen and (min-width: 35em) {

  body {
    max-width: 940px;
  }

}


/* ==========================================================================
   Grid System
   ========================================================================== */

/* --------------------------------------------------------------------------

Wide Layout

| 220 | 20 | 220 | 20 | 220 | 20 | 220 |

Unit: 220
Gutter: 20
Margin: 20

Fields:
  - 220
  - 460
  - 700
  - 940

Even though the numbers above are fixed pixel values this is not how the grid
works. The grid itself is fluid and handles responsiveness very well. We start
with full width columns, followed by half columns and end with the wide layout.

*/

.container {
  margin-left: -20px;
  overflow: hidden;
}

.column-1,
.column-2,
.column-3,
.column-4 {
  border-left: 20px solid white;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

@media only screen and (min-width: 35em) {

  .column-1,
  .column-2 {
    width: 50%;
  }

  .column-3,
  .column-4 {
    width: 100%;
  }

}

@media only screen and (min-width: 60em) {

  .column-1 { width: 25%; }
  .column-2 { width: 50%; }
  .column-3 { width: 75%; }
  .column-4 { width: 100%; }

}


/* ==========================================================================
   Horizontal navigation
   ========================================================================== */

.nav-horizontal {
  margin: 0 0 19px;
  padding: 0;
}

.nav-horizontal li {
  color: #888;
  display: inline;
  text-transform: uppercase;
}

.nav-horizontal li:before {
  color: #DDD;
  content: "/";
  margin-right: 4px;
}

.nav-horizontal li:first-child:before {
  content: "";
  margin-right: 0;
}

.nav-horizontal span {
  display: inline-block;
  padding: .25em .4375em .125em;
}

.nav-horizontal a {
  border-bottom: 2px solid transparent;
  color: inherit;
  display: inline-block;
  padding: .25em .4375em .125em;
  text-decoration: none;
}

.nav-horizontal a:hover,
.nav-horizontal a:focus {
  border-bottom-color: #000;
  color: #000;
}

.nav-horizontal--subtle {
  font-size: 14px;
}


/* ==========================================================================
   Site header
   ========================================================================== */

.site-header {
  border-bottom: 1px solid #DDD;
  overflow: hidden;
  margin-bottom: 20px;
}


/* ==========================================================================
   Site logo
   ========================================================================== */

.site-logo {
  float: left;
  font-size: 30px;
  line-height: 1;
  margin: 0 0 19px;
}

.site-logo a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.site-logo a:hover,
.site-logo a:focus {
  color: #000;
}

.site-logo a:hover:after,
.site-logo a:focus:after {
  color: #BBB;
  content: " (startpage)";
  font-size: .5em;
  font-weight: normal;
  padding: .5em 0;
  position: relative;
  text-transform: uppercase;
  top: -.325em;
}

.site-logo span {
  margin-left: 2px;
}

@media only screen {

  .site-logo a {
    background: url(/assets/images/icora_logo.svg) no-repeat;
    display: block;
    height: 30px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 120px;
  }

}

/* ==========================================================================
   Site navigation
   ========================================================================== */

.site-nav {
  float: right;
}


/* ==========================================================================
   Site footer
   ========================================================================== */

.site-footer {
  overflow: hidden;
  margin-bottom: 20px;
}

.site-footer ul {
  float: left;
}

@media only screen and (min-width: 60em) {

  .site-footer ul + ul {
    float: right;
  }

}


/* ==========================================================================
   Project preview
   ========================================================================== */

.project-preview {
  overflow: hidden;
  position: relative;
}

.project-preview img {
  display: block;
  height: auto;
  width: 100%;
}

.project-preview figcaption {
  background: rgba(0,0,0,.2);
  color: #FFF;
  bottom: 0;
  line-height: 2;
  padding: 0 20px;
  position: absolute;
  text-transform: uppercase;
}

@media only screen and (min-width: 35em) {

  .project-preview img {
    width: auto;
  }

}


/* ==========================================================================
   Project
   ========================================================================== */

.project-head {
  overflow: hidden;
}

.project-meta {
  background: #EEE;
  border-top: 2px solid #DDD;
  font-weight: 600;
  list-style: none;
  margin: 20px 0 0;
  padding: 20px;
  overflow: hidden;
}

.project-meta li {
  float: left;
  margin-right: 20px;
}

.project-meta span {
  display: none;
}

.project-meta strong {
  display: block;
  font-weight: normal;
}

@media only screen and (min-width: 60em) {

  .project-body {
    float: left;
    width: 75%;
  }

  .project-foot {
    float: right;
    width: 25%;
  }

  .project-meta li {
    margin-right: 0;
    margin-top: 20px;
  }

  .project-meta li:first-child {
    margin-top: 0;
  }

}


/* ==========================================================================
   Print
   ========================================================================== */

@media print {

    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}