/*! icora.css | git.io/icora */


/* ==========================================================================
   Base Rules
   ========================================================================== */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  padding: 0 20px;
}

body {
  background: #FFF;
  color: #444;
  font: 1em/1.375 "Open Sans", Arial, sans-serif;
  margin: 20px auto;
  width: 940px;
}

strong, b {
  font-weight: 600;
}

h1, h2, h3, h4 {
  font-family: "Duru Sans", Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 28px;
  font-weight: normal;
  margin-top: 0;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

p {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}


/* ==========================================================================
   Grid System
   ========================================================================== */

/* --------------------------------------------------------------------------

Wide Layout

| 220 | 20 | 220 | 20 | 220 | 20 | 220 |

Unit: 220
Gutter: 20
Margin: 20

Fields:
  - 220
  - 460
  - 700
  - 940

Even though the numbers above are fixed pixel values this is not how the grid
works. The grid itself is fluid and handles responsiveness very well.

*/

.container {
  margin-left: -20px;
  overflow: hidden;
}

.column-1,
.column-2,
.column-3,
.column-4 {
  border-left: 20px solid white;
  float: left;
  margin-bottom: 20px;
}

/* Unit widths + gutter + border = total width. */
.column-1 { width: 240px; }
.column-2 { width: 480px; }
.column-3 { width: 720px; }
.column-4 { width: 960px; }

.push-1 { margin-left: 220px; }
.push-2 { margin-left: 460px; }
.push-3 { margin-left: 700px; }


/* ==========================================================================
   Horizontal navigation
   ========================================================================== */

.nav-horizontal {
  margin: 0 0 19px;
  padding: 0;
}

.nav-horizontal li {
  color: #888;
  display: inline;
  text-transform: uppercase;
}

.nav-horizontal li:before {
  color: #DDD;
  content: "/";
  margin-right: 4px;
}

.nav-horizontal li:first-child:before {
  content: "";
  margin-right: 0;
}

.nav-horizontal span {
  display: inline-block;
  font-size: 11px;
  padding: .25em .4375em .125em;
}

.nav-horizontal a {
  color: inherit;
  display: inline-block;
  font-size: 11px;
  padding: 8px 6px 2px;
  text-decoration: none;
}

.nav-horizontal a:hover,
.nav-horizontal a:focus {
  color: #000;
}


/* ==========================================================================
   Site header
   ========================================================================== */

.site-header {
  border-bottom: 1px solid #DDD;
  font-family: "Duru Sans", Arial, sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
}


/* ==========================================================================
   Site logo
   ========================================================================== */

.site-logo {
  float: left;
  font-size: 30px;
  line-height: 1;
  margin: 0 0 19px;
}

.site-logo a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.site-logo a:hover,
.site-logo a:focus {
  color: #000;
}

.site-logo a:hover:after,
.site-logo a:focus:after {
  color: #BBB;
  content: " (startpage)";
  font-size: .5em;
  font-weight: normal;
  padding: .5em 0;
  position: relative;
  text-transform: uppercase;
  top: -.325em;
}

.site-logo span {
  margin-left: 2px;
}

@media only screen {

  .site-logo a {
    background: url(../images/icora_logo.svg) no-repeat;
    display: block;
    height: 30px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 120px;
  }

}

/* ==========================================================================
   Site navigation
   ========================================================================== */

.site-nav {
  float: right;
  margin-right: -6px;
}

.site-nav a {
  font-size: 13px !important;
}


/* ==========================================================================
   Site footer
   ========================================================================== */

.site-footer {
  border-top: 1px solid #DDD;
  font-family: "Duru Sans", Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-top: 9px;
  position: relative;
  top: -21px;
  z-index: 1;
}

.site-footer ul {
  float: left;
}

.site-footer ul + ul {
  float: right;
}


/* ==========================================================================
   Project preview
   ========================================================================== */

.page {
  margin-bottom: 40px;
}

.page img {
  display: block;
}


/* ==========================================================================
   Project preview
   ========================================================================== */

.project-preview {
  background: url(../images/dotted_line.png) repeat-x bottom left;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.project-preview img {
  display: block;
}

.project-preview figcaption {
  background: #FFF;
  color: #444;
  bottom: 30px;
  font-size: 14px;
  left: 10px;
  line-height: 2;
  padding: 0 15px;
  position: absolute;
  text-transform: uppercase;
  z-index: 2;
}

.project-preview-duplicate-image {
  position: absolute;
  top: 0;
  z-index: -1;
}

.project-preview:hover .project-preview-duplicate-image {
  z-index: 1;
}


/* ==========================================================================
   Project
   ========================================================================== */

.project {
  margin-bottom: 40px;
}

.project img {
  display: block;
}

.project-head {
  margin-bottom: 20px;
  overflow: hidden;
}

.project-meta {
  background: #EEE;
  border-top: 2px solid #DDD;
  font-size: .875em;
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

.project-meta li {
  margin-top: 20px;
}

.project-meta li:first-child {
  margin-top: 0;
}

.project-meta span {
  display: none;
}

.project-meta strong {
  display: block;
  font-weight: normal;
}

.project-body {
  border-right: 20px solid #FFF;
  float: left;
  width: 460px;
}

.project-foot {
  float: right;
  width: 220px;
}


/* ==========================================================================
   Projects navigation
   ========================================================================== */

.nav-projects-prev,
.nav-projects-next,
.nav-projects-all {
  background: #EEE url(../images/sprites.png) no-repeat;
  float: left;
  height: 40px;
  overflow: hidden;
  text-indent: 110%;
  width: 80px;
}

.nav-projects-prev { background-position: 0 8px; }
.nav-projects-next { background-position: 100% 8px; }
.nav-projects-all { background-position: 50% 8px; }

.nav-projects-all {
  margin: 0 5px;
  width: 50px;
}

.nav-projects-browse {
  clear: left;
  color: #999;
  display: block;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}


/* ==========================================================================
   Print
   ========================================================================== */

@media print {

    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
