<!DOCTYPE html>
<html class="no-js">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta rel="author" href="humans.txt">

    {% if page.summary %}
    <meta name="description" content="{{ page.summary }}">
    {% else %}
    <meta name="description" content="Icora is a venture company driven by entrepreneurs for entrepreneurs. We strive to make the greatness in your business even greater by implementing experience, funding and a global network.">
    {% endif %}

    <title>{% if page.title %}{{ page.title }} - {% endif %}Icora</title>

    <script>document.documentElement.className = 'js';</script>

    <link rel="stylesheet" href="{{ site.siteurl }}assets/stylesheets/icora.css">

    <script>
      window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
      window.analytics.load("5t95g0ha3o");
      window.analytics.page();
    </script>

    <script>
      WebFontConfig = {
        google: {
          families: ['Duru Sans', 'Open Sans:400,600']
        }
      };

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

    <!--[if lt IE 10]>
    <script src="{{ page.siteurl }}assets/javascripts/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <header class="site-header" role="banner">

      <h1 class="site-logo">
        <a href="{{ site.siteurl }}" rel="home">Icor<span>a</span></a>
      </h1>

      <nav class="site-nav" role="navigation">
        <ul class="nav-horizontal">
          {% include site-nav-links.html %}
        </ul>
      </nav>

    </header>

    <div class="container" role="main">

      {{ content }}

    </div>

    <footer class="site-footer" role="contentinfo">

      <ul class="nav-horizontal">
        {% include site-nav-links.html %}
      </ul>

      <ul class="nav-horizontal">
        <li><span>&copy; Copyright 2014 Icora</span></li>
      </ul>

    </footer>

  </body>

</html>
