---
layout: default
---

<div class="column-1">
  {% if page.previous %}
  <a href="{{ page.previous.url }}" class="nav-projects-prev" title="Previous project">Previous</a>
  {% endif %}
  <a href="{{ site.siteurl }}some-of-ours" class="nav-projects-all" title="Show all projects">All</a>
  {% if page.next %}
  <a href="{{ page.next.url }}" class="nav-projects-next" title="Next project">Next</a>
  {% endif %}
  <a href="{{ site.siteurl }}some-of-ours" class="nav-projects-browse">Browse our projects</a>
</div>

<article class="column-3 project" role="article">

  <div class="project-head">
    <img src="{{ site.siteurl }}assets/images/projects/{{ page.cover }}" height="420" width="700" alt="">
  </div>

  <div class="project-body">

    {{ content }}

  </div>

  <div class="project-foot">
    <ul class="project-meta">
      <li>
        Segment<span>:</span>
        <strong>{{ page.segment }}</strong>
      </li>
      <li>
        URL<span>:</span>
        <strong>{{ page.website }}</strong>
      </li>
    </ul>
  </div>

</div>
