---
layout: default
---

<div class="column-1">
  <a href="{% if page.previous %}{{ page.previous.url }}{% else %}{{ site.posts[0].url }}{% endif %}" class="nav-projects-prev" title="Previous project">Previous</a>
  <a href="{{ site.siteurl }}some-of-ours" class="nav-projects-all" title="Show all projects">All</a>
  <a href="{% if page.next %}{{ page.next.url }}{% else %}{{ site.posts[-1].url }}{% endif %}" class="nav-projects-next" title="Next project">Next</a>
  <a href="{{ site.siteurl }}some-of-ours" class="nav-projects-browse">Browse our projects</a>
</div>

<article class="column-3 project" role="article">

  <div class="project-head">
    <img src="{{ site.siteurl }}assets/images/projects/{{ page.slug }}_full.jpg" height="420" width="700" alt="">
  </div>

  <div class="project-body">

    {{ content }}

  </div>

  <div class="project-foot">
    <ul class="project-meta">
      <li>
        Segment<span>:</span>
        <strong>{{ page.segment }}</strong>
      </li>
      <li>
        URL<span>:</span>
        <strong>{{ page.website }}</strong>
      </li>
    </ul>
  </div>

</div>
